body {
  background-color: antiquewhite;
  font-family: "Oxygen", sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}

/****Navigation*****/
.nav-info ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-weight: bold;
}
.nav-info ul li a,
a:visited {
  text-decoration: none;
  color: black;
  padding: 0.5em 1em;
}
.nav-info ul li a:hover {
  background-color: white;
  border-radius: 4px;
}
.main-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid wheat;
  background-color: white;
  border-radius: 4px;
}

.main-about {
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}

/*******About*********/
.main-about {
  margin: 4% 4%;
  padding: 1em;
}
.main-about ul li {
  list-style-type: none;
  width: 10%;
  border-radius: 4px;
  padding: 0.5em 1em;
  margin-top: 1em;
}
.html-li {
  background-color: forestgreen;
}
.css-li {
  background-color: cornflowerblue;
}
.js-li {
  background-color: navajowhite;
}

/****Project****/
.project-main h1 {
  text-align: center;
}
.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
.project-list div {
  border: 1px solid black;
  background-color: white;
  border-radius: 4px;
  width: 50%;
  padding: 0.5em 1em;
  margin-top: 1em;
}
/*****Contact*****/
.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.contact-form div {
  display: flex;
  margin: 1em;
}
.contact-form div label {
  flex-basis: 20%;
  flex-grow: 1;
}
.contact-form div input,
.contact-form div textarea {
  flex-grow: 2;
  flex-basis: 80%;
  border-radius: 4px;
  padding: 0.8em 1em;
}
